<h1> Welcome </h1>

{{name}}
<br>

<img src="{{avatar_url}}" alt="profile avatar">

<br>
<a href="/secure" class="login_github"><button type="button">SEE JOKES</button></a>

<a href="/post" class="login_github"><button type="button">POST JOKES</button></a>
